.project-table {
    border-collapse: collapse;
    width: 100%;
}
.project-table th, .project-table td {
    border: 1px solid rgb(189, 189, 189);
    padding: 1px;
}
.project-table th {
    background-color: #ebebeb;
}

.legend-btn {
    padding: 0 4px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    display: flex;
    align-items: baseline;
}

.legend-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.legend-color {
    margin-right: 8px;
    max-width: 20px;
    min-width: 20px;
    width: 20px;
    max-height: 10px;
    min-height: 10px;
    height: 10px;
    border-radius: 5px
}

.legend-grp-header {
    padding: 2px 8px;
    cursor: pointer;
}

.legend-grp-header:hover {
    opacity: 0.6;    
}

.legend-grp-content {
    padding: 2px;
}

.figure1-plot-container {
    display: flex;
}

@media (min-width: 1024px) {
    .figure1-plot-container {
        justify-content:center;
    }
}

.figure_3_legend-btn {
    padding: 0 4px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    display: flex;
    align-items: baseline;
}

.figure_3_legend-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.figure_3_legend-color {
    margin-right: 8px;
    max-width: 20px;
    min-width: 20px;
    max-height: 10px;
    min-height: 10px;
    border-radius: 5px
}

.figure_3_legend-grp-header {
    padding: 2px 8px;
    cursor: pointer;
}

.figure_3_legend-grp-header:hover {
    opacity: 0.6;    
}

.figure_3_legend-grp-content {
    padding: 2px;
}

.figure_2_legend-btn {
    padding: 0 4px;
    background-color: rgba(0,0,0,0);
    /* cursor: pointer; */
    display: flex;
    align-items: baseline;
}

/* .figure_2_legend-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
} */

.figure_2_legend-color {
    margin-right: 8px;
    max-width: 20px;
    min-width: 20px;
    max-height: 10px;
    min-height: 10px;
    border-radius: 5px
}

.figure_2_legend-grp-header {
    padding: 2px 8px;
    cursor: pointer;
}

.figure_2_legend-grp-header:hover {
    opacity: 0.6;    
}

.figure_2_legend-grp-content {
    padding: 2px;
}
